@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/animations" as *;

html,
.body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.body {
  background-color: $primary-color;
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.main {
  &__intro {
    padding: 1rem;

    @include respond-to(medium, max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    color: $white;
    min-height: 100vh;
    position: relative;

    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      background: linear-gradient(
        135deg,
        rgba(#415b8a, 0.85) 0%,
        rgba(#415b8a, 0.7) 50%,
        rgba(#415b8a, 0.3) 100%
      );
    }

    &-name,
    &-subtitle,
    &-donate,
    &-salutation-container,
    &-logo {
      position: relative;
      z-index: 1;
    }

    @include respond-to(medium) {
      padding-top: 17%;
      min-height: 80vh;
      padding-left: 10%;
      padding-right: 10%;
    }
    &-logo-name-container {
      display: flex;
      flex-direction: row;
      @include respond-to(large) {
        padding: 0 25%;
      }
    }

    &-logo {
      width: 30vw;
      flex: 1;
      position: relative;
      bottom: 0px;
      //filter: drop-shadow(0 2px 30px rgba(0, 0, 0, 0.5));
      @include respond-to(large) {
        width: 15vw;
      }
    }

    &-name {
      margin-top: 0.1rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
      font-family: $secondary-font;
      text-align: left;
      font-size: clamp(2rem, 10vw, $font-size-giant);
      //letter-spacing: -0.02em;
      //line-height: 1.1;
      //text-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
      word-wrap: break-word;
      hyphens: auto;
      padding: 0 1rem;
      color: $white;
      flex: 1;
      @include respond-to(large) {
        font-size: $font-size-huge;
      }
    }

    &-subtitle {
      margin-top: 1rem;
      margin-bottom: 1rem;
      min-height: 3rem;
      text-align: center;
      font-family: $primary-font;
      line-height: 1.4;
      font-size: $font-size-base;
      max-width: 800px;
      margin-inline: auto;
      color: rgba($white, 0.95);
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      font-weight: $font-weight-normal;
      @include respond-to(large) {
        font-size: $font-size-large;
      }
    }

    &-donate {
      margin-top: 3%;
      display: none;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }

      .paragraph {
        margin: 0;
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        text-decoration: none;
      }

      @include respond-to(large) {
        position: relative;
        right: 0.7rem;
      }
    }
  }

  .about-us {
    padding: $padding-section;
    font-family: $primary-font;
    font-size: $font-size-large;
    background-color: $primary-color;

    .subtitle {
      text-align: center;
      margin: 2rem 2rem 1.3rem 2rem;
      color: $calmred;
    }

    .paragraph {
      text-align: center;
      margin-bottom: 0.8rem;
      color: $secondary-color;
    }

    .divider {
      display: none;
    }
    .underline {
      color: $calmred;
    }
    @include respond-to(medium) {
      padding-left: 13%;
      padding-right: 13%;
      padding-bottom: 0px;
      padding-top: 3%;

      .divider {
        display: block;
        background-color: $calmred;
      }

      .subtitle {
        margin: 2rem 2rem 1.3rem 0rem;
        text-align: left;
      }

      .paragraph {
        text-align: left;
      }
    }

    &__intro {
      @include respond-to(medium) {
        p {
          width: 60%;
          margin: 0 0 1rem 0;
        }
      }
    }

    &__media {
      gap: 3rem;

      @include respond-to(medium) {
        display: flex;
        flex-direction: row-reverse;
        gap: 0;
        height: 15rem;
      }

      p {
        margin-bottom: 3rem;
        text-align: left;

        @include respond-to(large) {
          line-height: 25px;
          width: 60%;
          margin: 0;
        }
      }

      figure {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 4px 3px 17px -11px rgba(0, 0, 0, 0.2);

          @include respond-to(medium) {
            width: 380px;
            height: 450px;
          }
        }

        display: block;
        margin: 3rem auto;

        @include respond-to(medium) {
          width: calc(180px * 1.8);
          height: calc(250px * 1.8);
          position: relative;
          bottom: 20rem;
          left: 2rem;
          margin: 0 auto;
        }
      }
    }
  }

  .mission {
    padding: $padding-section;
    font-family: $primary-font;
    font-size: $font-size-large;
    background-color: #2c3e50;
    //border-radius: 45px 45px 0 0;
    color: $white;

    .subtitle {
      text-align: center;
      margin-bottom: 2rem;
      color: $white;

      @include respond-to(medium) {
        text-align: right;
      }
    }

    .paragraph {
      text-align: center;
      color: $white;

      @include respond-to(medium) {
        text-align: right;
      }
    }

    .subtitle,
    .underline {
      color: $comfortingorange;
    }

    .divider {
      display: none;
      background-color: $comfortingorange;
    }

    @include respond-to(medium) {
      padding-left: 13%;
      padding-right: 13%;
      padding-bottom: 5px;
      padding-top: 8%;

      .divider {
        display: block;
        margin-left: auto;
        margin-right: 0;
      }
    }

    &__intro {
      @include respond-to(medium) {
        p {
          width: 60%;
          margin: 0 0 1rem 0;
          margin-left: auto;
          text-align: right;
        }
      }

      p {
        color: $white;
      }
    }

    &__media {
      gap: 3rem;

      @include respond-to(medium) {
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 17rem;
      }

      p {
        margin-bottom: 3rem;
        text-align: left;

        @include respond-to(large) {
          line-height: 25px;
          width: 60%;
          margin: 0;
        }
      }

      figure {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 4px 3px 17px -11px rgba(0, 0, 0, 0.2);

          @include respond-to(medium) {
            width: 380px;
            height: 450px;
          }
        }

        display: block;
        margin: 3rem auto;

        @include respond-to(medium) {
          width: calc(180px * 1.8);
          height: calc(250px * 1.8);
          position: relative;
          bottom: 15rem;
          right: 6rem;
          margin: 0 auto;
        }
      }
    }
  }

  .our-approach {
    padding: $padding-section;
    background-color: $primary-color;

    @include respond-to(medium) {
      padding: 7% 13%;
      padding-bottom: 13.25%;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 1rem;
      color: $secondary-color;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
      margin-top: 3rem;
    }
  }

  .how-to-help {
    padding: $padding-section;
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: #2c3e50;
    color: $white;

    @include respond-to(medium) {
      padding: 4rem 13% 13.25% 13%;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 3rem;
      color: $white;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
      margin-top: 3rem;
    }
  }
}
