@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/animations" as *;

@use "hero";
@use "about-us";
@use "mission";
@use "our-approach";
@use "how-to-help";

html,
.body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.body {
  background-color: $primary-color;
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
}