// Colors
$primary-color: #ffffff;
$secondary-color: #181818;          
$tertiary-color: #FFecd6;          

$white: #ffffff; 
$black: #000000;
$sand: #eae3dc;
$silver: #ececec;
$safeblue: #415b8a;
$calmred: #f58f80;
$comfortingorange: #fab571;
$softyellow:#fdd796;
// Accent Colors 
$accent-color: $comfortingorange; 
$highlight-color: #f1c40f; 

// Font Sizes s
$font-size-small: 1rem; // 16px
$font-size-base: 1.125rem; // 18px
$font-size-medium: 1.25rem; // 20px
$font-size-large: 1.75rem; // 28px
$font-size-xlarge: 2.25rem; // 36px
$font-size-xxlarge: 3.5rem; // 56px
$font-size-xxxlarge: 4rem; 
$font-size-giant: 5rem;
$font-size-huge: 6.5rem;

// Font Weights 
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-heavy: 950;


$primary-font: "Fira Sans", sans-serif;
$secondary-font: "BBH Bogle", sans-serif;

$padding-section: 2.3rem 2.5rem 5.3rem 2.5rem;