@use "../abstracts/variables" as *;

.button {
    font-family: $primary-font;
    font-weight: $font-weight-semibold;
    text-decoration: none;
}

.button--primary,
.button--disabled,
.button--secondary,
.button--tertiary {
    display: inline-flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1.2rem;

    background-color: $accent-color;
    color: $secondary-color;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    svg {
        margin: 0 3px 0 8px;
        width: 25px;
        height: 25px;
    
        path {
            stroke: $secondary-color;
            stroke-width: 2px;
        }
    }
}
.button--primary{
    font-weight: $font-weight-normal;
}

.button--disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.button--secondary {
    padding: .8rem 1rem;
    background-color: $secondary-color;
    color: $white;

    svg {
        path {
            stroke: $white;
        }
    }

}

.button--tertiary {
    padding: 1rem 2rem;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: $secondary-color;
    border-radius: 45px;
    transition: all 0.3s ease;
    opacity: 0.9;
    svg {   
        path {
            stroke: $secondary-color;
        }
    }

    &:hover {
        padding: 1rem 2.5rem;
    }
}