.target {
    // Adds space above the target when scrolling to anchor links
    scroll-margin-top: 60px;
}

.no-select {
    // Whatever element has this class applied will not allow text selection
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;
}

.js_license_information{
    position: absolute;
    right: 25px;
    color: white;
}